.display{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color:rgb(223, 212, 212);
    height: 70px;
    width:403px;
}

.sub-display{
    /* padding-top: 0;
    padding-right: o;
    padding-bottom: 60px;
    padding-left: auto; */
    height: 25px;
    width:130px;
    margin-left: 273px;
    margin-bottom: -25px; 
}

.calculator{
    height: 400px;
    width: 300px;
    margin: auto;
    margin-top: 150px;
}

.button{
    display:flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100px;
    width: 100px;
    background-color: aqua;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1px;
};



/* style=" " */