.display{
    display:flex; 
    justify-content: center;
    align-items: center;
    background-color:rgb(248, 246, 246);
    height: 70px;
    width:300px;
}

.calculator{
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 400px;
    width: 300px;
    margin: auto;
    margin-top: 120px;
}

.button{
    height: 100px;
    width: 100px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
};



/* style=" " */